<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>{{title}}</TITLE>
    </HEAD>
    <BODY>
        <H1>{{table}}</H1>
        <UL>
            {% for city in cities | sort(attribute=1) %}
           <LI>{{ city[0] }}: <B>{{ city[1] }}</B>
                <UL>
                    {% for name in city[2] | sort(attribute='name') %}
                    <LI>{{ city[0] }}: <B>{{ name.name }}</B></LI>
                    {% endfor %}
                </UL>
           </LI>
           {% endfor %}
        </UL>
    </BODY>
</HTML>
