<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>{{ title }}</TITLE>
    </HEAD>
    <BODY>
        {% if states %}
        <H1>{{table}}</H1>
        <UL>
           {% for id, state in states.items() %}
           <LI>{{ id }}: <B>{{ state }}</B></LI>
           {% endfor %}
        </UL>
        {% elif cities %}
        <H1>State: {{ cities[0][1] }}</H1>
        <H3>Cities:</H3>
        <UL>
            {% for i in cities[0][2] %}
            <LI>{{ cities[0][0] }}: <B>{{ i.name }}</B></LI>
            {% endfor %}
        </UL>
        {% else %}
        <H1>Not found!</H1>
        {% endif %}
    </BODY>
</HTML>
